<main class="container mt-6">

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Click Here to add a show or movie!
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <button type="button" class="btn btn-primary" id="addMovie">Movie Forn</button>
          <button type="button" class="btn btn-primary" id="addShow">Show Form</button>
          <div id="inputForm"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <h2>Movie Reviews</h2>
  </div>



  <div class="row ">

    <div class="col-6">
      <h4>Recommended</h4>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block}}
      {{/if}}
      {{/each}}
    </div>

    <div class="col-6">
      <h4>Not Recommended</h4>
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{!-- TVSHOWS --}}
  <div class="row d-flex justify-content-center">
    <h2>TV Show Reviews</h2>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <h4>Recommended</h4>
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      <h4>Not Recommended</h4>
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  </div>
</main>