<button type="button" class="btn btn-primary" id="addMovie">Add a Movie</button>
<button type="button" class="btn btn-primary" id="addShow">Add a Show</button>
<div id="inputForm"></div>


<button type="button" class="btn btn-primary" id="showSubmitButton">Submit</button>


  {{!-- movie card --}}

  {{#each movies}}
  {{> movies/movie-block}}
  {{/each}}