<main class="container">
  <button type="button" class="btn btn-primary" id="addMovie">Add a Movie</button>
  <button type="button" class="btn btn-primary" id="addShow">Add a Show</button>
  <div id="inputForm"></div>




  <div class="row d-flex justify-content-center">
    <h2>Movies!</h2>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <h2>Recommended</h2>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      <h2>Not Recommended</h2>
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  </div>
</main>