<main class="container">
  <button type="button" class="btn btn-primary" id="addMovie">Add a Movie</button>
  <button type="button" class="btn btn-primary" id="addShow">Add a Show</button>
  <div id="inputForm"></div>




  <h2>Movies</h2>
  <div class="row">
    <div class="col-6">
      Recommended
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      Not recommended
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  <h2>Tv Shows</h2>
  <div class="row">
    <div class="col-6">
      Recommended
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      Not recommended
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block}}
      {{/unless}}
      {{/each}}
    </div>
  </div>

  </div>
</main>