<main class="container mt-6">
  <div class="accordion" id="accordionExample">
    <div class="card bg-dark bg-outline-warning border-warning">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center text-warning" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>Click Here to add a show or movie!</h3>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body bg-dark">
          <button type="button" class="btn btn-warning" id="addMovie">Movie Form</button>
          <button type="button" class="btn btn-warning" id="addShow">Show Form</button>
          <div id="inputForm"></div>
        </div>
      </div>
    </div>
  </div>

  {{#if currentUser}}
  {{!-- MOVIES --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>Movie Reviews</h2>
  </div>

  <div class="row">
    <div class="col-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block user=true}}
      {{/if}}
      {{/each}}
    </div>

    <div class="col-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block user=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{!-- TVSHOWS --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>TV Show Reviews</h2>
  </div>

  <div class="row">
    <div class="col-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block user=true}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block user=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- RENDERS OTHER USERS PAGE WITHOUT DELETE BUTTONS --}}
  {{#unless currentUser}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>Movie Reviews</h2>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block user=false}}
      {{/if}}
      {{/each}}
    </div>

    <div class="col-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block user=false}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{!-- TVSHOWS --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>TV Show Reviews</h2>
  </div>

  <div class="row">
    <div class="col-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block user=false}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block user=false}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/unless}}
</main>