<main class="container mt-6">
  <div class="accordion" id="accordionExample">
    <div class="card bg-dark bg-outline-warning border-warning">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center text-warning" type="button" data-toggle="collapse"
            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>Click Here to add a show or movie!</h3>
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body bg-dark">
          <button type="button" class="testBtn btn btn-warning" id="formSwitch">Switch to movie form</button>
        <section class="flipForm">
          <div class="flipCard">
            <div class="frontFlip">
                <form>
                <div class="form-group text-light">
                  <label for="movieTitle">Movie Title</label>
                  <input type="text" class="form-control bg-secondary border-dark" id="movieTitle">
                </div>
                <form>
                  <div class="form-group text-light">
                    <label for="rating">Rating(0 to 10)</label>
                    <input type="range" class="form-control-range" id="movieRating">
                  </div>
                </form>
                <div class="form-group text-light">
                  <label for="writeUp">Write Up (max 240 characters)</label>
                  <textarea class="form-control" id="movieWriteUp" rows="3"></textarea>
                </div>
                <div class="form-group text-light">
                  <label for="streamingService">What streaming service did you watch it on?</label>
                  <select class="form-control" id="movieStreamingService">
                    <option>Netflix</option>
                    <option>Hulu</option>
                    <option>Amazon</option>
                    <option>Apple Video</option>
                    <option>Disney Plus</option>
                    <option>HBO</option>
                    <option>None of the above</option>
                  </select>
                </div>
                <div class="form-group text-light">
                  <div class="form-group text-light">
                    <label for="recommend"> Would you recommend this movie?</label><br>
                    <input type="radio" name="recommend" value="1" checked>Recommend<br>
                    <input type="radio" name="recommend" value="0"> Do Not Recommend
                  </div>
                </div>
                <button type="button" class="btn btn-primary" id="movieSubmitButton">Submit</button>
                </form>
            </div>
            <div class="backFlip">
                <form>
                <div class="form-group text-light">
                  <label for="ShowTitle">Show Title</label>
                  <input type="text" class="form-control bg-secondary border-dark" id="showTitle">
                </div>
                <form>
                  <div class="form-group text-light">
                    <label for="rating">Rating(0 to 10)</label>
                    <input type="range" class="form-control-range" id="rating">
                  </div>
                </form>
                <div class="form-group text-light">
                  <label for="writeUp">Write Up (max 240 characters)</label>
                  <textarea class="form-control" id="writeUp" rows="3"></textarea>
                </div>
                <div class="form-group text-light">
                  <label for="movieTitle">How many episodes should someone watch before giving up?</label>
                  <input type="number" class="form-control" id="minEpisodes" value="0">
                </div>
                <div class="form-group text-light">
                  <label for="streamingService">What streaming service did you watch it on?</label>
                  <select class="form-control" id="streamingService">
                    <option>Netflix</option>
                    <option>Hulu</option>
                    <option>Amazon</option>
                    <option>Apple Video</option>
                    <option>Disney Plus</option>
                    <option>HBO</option>
                    <option>None of the above</option>
                  </select>
                </div>
                <div class="form-group text-light">
                  <div class="form-group">
                    <label for="recommend"> Would you recommend this show?</label><br>
                    <input type="radio" name="recommend" value="1" checked>Recommend<br>
                    <input type="radio" name="recommend" value="0"> Do Not Recommend
                  </div>
                </div>
                <button type="button" class="btn btn-warning" id="showSubmitButton">Submit</button>
                </form>
            </div>
          </div>
        </section>

          

        </div>
      </div>
    </div>
  </div>

  {{#if currentUser}}
  {{!-- MOVIES --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>Movie Reviews</h2>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block user=true}}
      {{/if}}
      {{/each}}
    </div>

    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Not Recommended</h4>

      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block user=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{!-- TVSHOWS --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>TV Show Reviews</h2>
  </div>

  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block user=true}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block user=true}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}}

  {{!-- RENDERS OTHER USERS PAGE WITHOUT DELETE BUTTONS --}}
  {{#unless currentUser}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>Movie Reviews</h2>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each movies}}
      {{#if recommend}}
      {{> movies/movie-block user=false}}
      {{/if}}
      {{/each}}
    </div>

    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Not Recommended</h4>
      {{#each movies}}
      {{#unless recommend}}
      {{> movies/movie-block user=false}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{!-- TVSHOWS --}}
  <div class="row d-flex justify-content-center mt-5 text-warning text-center">
    <h2>TV Show Reviews</h2>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <h4 class="text-light text-center">Recommended</h4>
      {{#each shows}}
      {{#if recommend}}
      {{> shows/show-block user=false}}
      {{/if}}
      {{/each}}
    </div>
    <div class="col-12 col-md-6">
      <h4 class="text-light text-bold text-center">Not Recommended</h4>
      {{#each shows}}
      {{#unless recommend}}
      {{> shows/show-block user=false}}
      {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/unless}}
</main>