body {
  /* background-image: url(https://mostlyfilm.files.wordpress.com/2015/05/mad-max-fury-road-01.jpg);
  background-repeat: no-repeat; */
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: orange !important;
}

#siteLogo {
  max-width: 18rem;
}

form.signup,
form.login {
  margin-top: 50px;
}

#welcomeText {
  text-align: center;
  max-width: 100% !important;
}

#inputGroupSelect01 {
  max-width: 10rem;
}
#searchInput {
  max-width: 20rem;
}

#movieInfo {
  text-align: center;
}
.movieSectionHeader {
  text-align: center;
}
