html,
body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
body {
  background: url(https://i.pinimg.com/originals/88/33/35/8833353216081029e8e892fd0f6635ce.png)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: orange !important;
}

/* anime.js lettering */
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
/* */

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

#siteLogo {
  max-width: 18rem;
}
#handlebarLogo {
  max-width: 15rem;
}

#loginCard,
#signUpCard {
  margin-top: 45%;
}

#welcomeText {
  text-align: center;
  max-width: 100% !important;
}

#searchSelect {
  max-width: 10rem;
}
#searchInput {
  max-width: 20rem;
}
#movieInfo {
  text-align: center;
}
.movieSectionHeader {
  text-align: center;
}

/* Small screen adjustments */
@media only screen and (max-width: 768px) {
  #loginCard,
  #signUpCard {
  margin-top: 5%;
  } 
}
